.fondo{
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #5be6f3 100%);

}
.avatar{
    width: 200px;
    height: 250px;
}

#img{
    border-radius: 25%;
}
html{
    scroll-behavior: smooth;
}
.fondo-cards {
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(0,149,218,0.85) 9.9%, rgba(56,80,114,1) 100.3% );
}

.text-light {
    color: #f8f9fa!important;
}

.fondo-cards1 {
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(0, 149, 218, 0.705) 9.9%, rgb(33, 90, 170) 100.3% );
}

.fondo-cards2 {
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(0, 149, 218, 0.555) 9.9%, rgb(43, 72, 112) 100.3% );
}
/*Boton hacia arriba*/
.expandir{
    position: fixed;
    bottom: 6rem;
    right: 3rem;
    width: 2rem;
    height: 2rem;
    z-index: -1;
}

.contraer{
    width: 0rem;
    height: 0rem;
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(0, 149, 218, 0.274) 9.9%, rgb(15, 40, 75) 100.3% );
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.contraer i{
    position: absolute;
    font-size: 1.7rem;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    color:#ffff;
    transition: .50s;
}

.show{
    z-index: 10;
}

.show .contraer{
    animation: popop .5s ease-in-out;
    width: 3rem;
    height: 3rem;
    z-index: 11;
}

.show i{
    transform: translate(-50%, -50%) scale(1);
}

@keyframes popop{
    0%{
        width: 0rem;
        height: 0rem;
    }
    50%{
        width: 4rem;
        height: 4rem;
    }
    100%{
        width: 4rem;
        height: 4rem;
    }
}

.color a{
    text-decoration: none;
    color: #ffff;
}
.color a:hover{
    text-decoration: none;
    font-size: 1.2rem;
    color: #ffff;
}